/* ------------------------------ Reuseable Components --------------------------- */

.container-fluid{ 
    padding: 0px;
    margin : 0px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5{
    font-family: 'Lobster', cursive;
}

/* For all the lines below the headings */
h2:after{
    display:block;
    height: 3px;
    background-color:#ddc350;
    content: "";
    width : 150px;
    margin: 0 auto;
    margin-top: 20px;
}

/* For placing the content vertically center */
.content-center{
    width: 100%;
    position:absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img{
    width: 100%;
    height: auto;
}

/* ------------------------------- Header and Navbar designs --------------------------------- */

.header-box {
    background-image : linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assest/Coding.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding: 20px 20px;
    position: relative;
}

.navbar {
    background-color: transparent;
    width: 100%;
}

.navbar-toggler{
    background-color: white;
}

.navbar li { color: #000 }

.navbar-toggler span{
    color:black;
}

nav a{
    max-width: 200px;
    margin-right: 50px;
}

#navbarSupportedContent{
    justify-content: flex-end;
}

.nav-item a:visited, 
.nav-item a{
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-item a:hover, 
.nav-item a:active{ 
    border-bottom: 2px solid #ddc350;
}

/* ------------------------------------ Aboutme Box ----------------------------------------------- */
.aboutme{
    background-color:#212121;
    padding: 60px 80px;
    line-height: 1.8em;
    position:relative;
    overflow:hidden;
}

.aboutme-photo{
    height:200px;
    width: auto;
    border-radius: 50%;
}

.aboutme span{
    font-size: 90%;
    line-height: 0.1em !important;

}

/* ----------------------------------------- Animation for skills -----------------------------------*/

.big-line{
    background: white;
    height: 10px;
    width: 100%;
    position:relative;
}

.big-line:after{
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    background-color: red;
    height: 10px;
    animation: animate 4s forwards;
}

.big-line1:after{
    max-width: 90%;
}

.big-line2:after{
    max-width: 40%;
}


/* ------------------------------------- Animations  ---------------------------------------------*/
@keyframes animate{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* -------------------------------- Project Box ---------------------------------------------------*/
.projects {
    margin: 60px 80px;
}

.pycom{
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assest/pycom.jpg);
}

.website{
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assest/Upshaw.png);
}

.adruino{
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assest/Adruino.jpeg);
}

.garmin-api{
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assest/garmin.png);
}

.mini-projects{
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assest/Miniprojects.jpg);
}

.projects .row:nth-child(3), .projects .row:nth-child(4){
    height: 400px;
    width: 100%;
}

.pycom, .adruino, .website, .garmin-api, .mini-projects{
    background-size: cover;
    background-position: center;
    padding: 0px;
}

/* ------------------------------------------------- Information Page -------------------------- */
.information{
    background-color:#25251f;
    height: 100%;
    width: 100%;
    display:none;
}

.list-group-item{
    font-size: 80%;
    height: 40px;
}

/* ------------------------------------------ Animation for a display page ------------------------ */
.pycom:hover .information{
    display:block;
}

.website:hover .information{
    display:block;
}

.adruino:hover .information{
    display:block;
}

.garmin-api:hover .information{
    display:block;
}

.mini-projects:hover .information{
    display:block;
}




/* -------------------------------- Get your hand dirty ------------------------------------------- */
.dirt{
    background:#25251f;
    padding: 60px 80px;
}

.dirt .row >.col-md-5:nth-child(1){
    min-height: 400px;
}

.dirt .row >.col-md-5:nth-child(2){
    background: white;
    padding: 30px;
}
/* -------------------------------- Contact Me -----------------------------------------------------*/

.contact{
    padding: 60px 80px;
}

.contact .col-md-2{
    padding: 0px;
}

.fab{
    color:white;
}

.contact .circle{
    position:relative;
    height: 100px;
    width: 100px;
    background: black; 
    border-radius: 50%;
    border: 10px solid #ddc350;
    transition: 0.5s;
}

.contact .circle:hover{
    background: white;
}

.circle:hover .fab{ 
    color:black; 
}


/* ---------------------------------------- Quotation -----------------------------------------------*/
.quotation{
    background: #212121;
    padding: 15px 80px;
}

.blockquote{
    font-size: 120%;
}
/* -------------------------------- Resume (Flex display because of responsive features --------------*/
.resume-body{
    font-size:15px;
    display:flex;
    flex-wrap: wrap-reverse;
}

.resume-body li{
    padding : 10px;
}

.container-side1{
    flex-basis: 30%;
    flex-grow: 1;
    min-width: 300px;
    margin-right: 4%;
}

.container-side2{
    flex-basis: 66%;
    flex-grow: 1;
}

/* Container1 property */
.container-side1>div{
    background-color: white;
    margin-bottom: 10px;
    border-top: 5px solid #ddc350;
    padding: 10px;
}

.container-side1 h5{
    padding: 10px;
    border-bottom : 1px solid grey;
}

/* Container2 property */

.container-side2>div{
    margin-bottom: 25px;
}

.name{
    border-top: 1px solid #ddc350;
    border-bottom: 1px solid #ddc350;
    padding-top: 10px;
}

.container-side2 h5 {
    padding: 15px 0px;
    border-bottom: 1px solid #ddc350;
}

.name h5{
 padding: 0px;
 border-bottom : 0px solid transparent;
}
.container-side1 ul {
    list-style-type:none;
    padding: 0px;
}
.container-side1>div>ul>li{
    border-bottom: 0.5px dotted grey;
}

.container-side1>div>ul>li:last-child{
    border-bottom: 0px solid transparent;
}

.photos{
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    margin:0px !important;
}

.photos img{
    margin-right: 15px;
}

.info {
line-height: 1.7em;
}
